<html>
  <head>
    <meta charset='utf-8' />
    <title>{{subject}}</title>
    <link rel='stylesheet' href='{{appURL}}/css/main.css' />
  </head>
  <body>
    <div class='w-screen h-screen bg-gray-900 flex justify-center items-center'>
      {{message}}
    </div>
  </body>
</html>